# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/*/target/*
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
dependency-reduced-pom.xml
.DS_Store
/*/dependency-reduced-pom.xml
/bin
/.settings
target
/*/.project
/*/.classpath
*.project
*.classpath
LOG_FILE_NAME_IS_UNDEFINED
/*/LOG_FILE_NAME_IS_UNDEFINED
/src/main/resources/git.properties
/*/src/main/resources/git.properties
*.versionsBackup
logs/
